<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head') %>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "PixelRushGames",
      "url": "https://pixelrushgames.xyz",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://pixelrushgames.xyz/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
</head>

<body>
  <header>
    <%- include('partials/navbar') %>
  </header>

  <main>

    <div class="grid-container">

      <div class="page-title">
        <h2>Subidos Recientemente</h2>
      </div>

      <div class="br-tdtd"></div>

      <div class="games-grid">

        <% if (games.length> 0) { %>

          <% games.forEach(game=> { %>
            <%- include('partials/gameCard', { game: game }) %>
              <% }) %>

                <% } else { %>
                  <div class="no-results">
                    <% if (searchQuery) { %>
                      No se encontraron resultados para "<%= searchQuery %>".
                    <% } else { %>
                      No hay juegos disponibles.
                    <% } %>
                  </div>
                  <% } %>

                  
      </div>

      <div class="br-tdtd mb-0"></div>

      <%- include('partials/pagination') %>

    </div>

  </main>

  <%- include('partials/footer') %>
</body>

</html>