<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head') %>
        <title>Resultados para "<%= searchQuery %>" | PixelRushGames</title>
</head>

<body>
    <header>
        <%- include('partials/navbar') %>
    </header>

    <main>

        <div class="grid-container">

            <div class="page-title">
                <h2>Resultados para "<%= searchQuery %>"</h2>
            </div>

            <div class="br-tdtd"></div>

            <div class="games-grid">

                <% if (games.length> 0) { %>

                    <% games.forEach(game=> { %>
                        <%- include('partials/gameCard', { game }) %>
                            <% }) %>

                                <% } else { %>
                                    <p>No se encontraron juegos para "<%= searchQuery %>".</p>
                                    <% } %>
                                    
            </div>

            <div class="br-tdtd mb-0"></div>

            <div class="pagination">
              <% if (currentPage > 1) { %>
                <a href="/search?q=<%= searchQuery %>&page=<%= currentPage - 1 %>" class="pagination-arrow">
                  <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <span class="sr-only">Anterior</span>
                </a>
              <% } %>
            
              <% for (let i = 1; i <= totalPages; i++) { %>
                <a 
                  href="/search?q=<%= searchQuery %>&page=<%= i %>" 
                  class="<%= i === currentPage ? 'active' : '' %>"
                >
                  <%= i %>
                </a>
              <% } %>
            
              <% if (currentPage < totalPages) { %>
                <a href="/search?q=<%= searchQuery %>&page=<%= currentPage + 1 %>" class="pagination-arrow">
                  <span class="sr-only">Siguiente</span>
                  <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              <% } %>
            </div>

        </div>
    </main>

    <%- include('partials/footer') %>
</body>

</html>